In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pprint

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
train['month'] = pd.to_datetime(train['month'])
train = train.drop(columns=['block', 'street_name'])

In [6]:
values = list(range(1,len(sorted(train['storey_range'].unique()))+1))
labels = sorted(train['storey_range'].unique())
storey_mapping={}
for k,v in zip(labels, values):
    storey_mapping[k] = v
train["storey_mapping"] = train['storey_range'].map(storey_mapping)
train = train.drop(columns=['storey_range'])

In [7]:
train = train.replace(to_replace ="5 room", value ="5-room")
train = train.replace(to_replace ="4 room", value ="4-room")
train = train.replace(to_replace ="3 room", value ="3-room")
train = train.replace(to_replace ="2 room", value ="2-room")
train = train.replace(to_replace ="1 room", value ="1-room")
flattype_mapping={"1-room": 1,
                   "2-room": 2,
                   "3-room": 3,
                   "4-room": 4,
                   "5-room": 5,
                   "multi generation": 6,
                   "executive": 7,}
train["flattype_mapping"] = train['flat_type'].map(flattype_mapping)
train = train.drop(columns=['flat_type'])

In [8]:
train = train.drop(columns=['eco_category'])

In [10]:

region_mapping={"west region": 1,
                   "north region": 2,
                   "central region": 3,
                   "north-east region": 4,
                   "east region": 5,}

train['region_mapping'] = train['region'].map(region_mapping)
train = train.drop(columns=['region'])

In [12]:
lease_commence_date = train['lease_commence_date'].to_numpy()
#assuming 99-year lease, we calculate the remaining years on the lease
remaining_lease = lease_commence_date + 99 - pd.DatetimeIndex(train['month']).year.to_numpy()
train['remaining_lease'] = remaining_lease
train = train.drop(columns=['lease_commence_date'])

In [13]:
train.head()

,month,town,floor_area_sqm,flat_model,latitude,longitude,elevation,subzone,planning_area,resale_price,storey_mapping,flattype_mapping,region_mapping,remaining_lease
0,2001-08-01,pasir ris,118.0,model a,1.369008,103.958697,0.0,pasir ris drive,pasir ris,209700.0,1,4,5,87
1,2014-10-01,punggol,110.0,improved,1.399007,103.906991,0.0,punggol field,punggol,402300.0,6,5,4,88
2,2020-09-01,sengkang,112.0,premium apartment,1.388348,103.873815,0.0,fernvale,sengkang,351000.0,1,5,4,83
3,2000-10-01,clementi,67.0,new generation,1.318493,103.766702,0.0,clementi north,clementi,151200.0,5,3,1,79
4,2013-01-01,bukit batok,73.0,model a,1.348149,103.742658,0.0,bukit batok west,bukit batok,318600.0,5,3,1,71

In [14]:
train = train.drop(columns=['elevation','town','subzone','planning_area'])

In [15]:
train.head()

,month,floor_area_sqm,flat_model,latitude,longitude,resale_price,storey_mapping,flattype_mapping,region_mapping,remaining_lease
0,2001-08-01,118.0,model a,1.369008,103.958697,209700.0,1,4,5,87
1,2014-10-01,110.0,improved,1.399007,103.906991,402300.0,6,5,4,88
2,2020-09-01,112.0,premium apartment,1.388348,103.873815,351000.0,1,5,4,83
3,2000-10-01,67.0,new generation,1.318493,103.766702,151200.0,5,3,1,79
4,2013-01-01,73.0,model a,1.348149,103.742658,318600.0,5,3,1,71

In [16]:
print(train['flat_model'].unique())

['model a' 'improved' 'premium apartment' 'new generation' 'apartment'
 'simplified' 'standard' 'adjoined flat' 'multi generation' 'maisonette'
 'model a2' 'model a maisonette' 'dbss' 'improved maisonette' 'terrace'
 'type s1' 'type s2' '2-room' 'premium apartment loft'
 'premium maisonette']