In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pprint

In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda3\envs\ipykernel_py3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [19]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

## Convert Date to DateTime

In [20]:
train['month'] = pd.to_datetime(train['month'])

## Drop Columns "block", "street_name", and "eco_category"

In [21]:
train = train.drop(columns=['block', 'street_name', 'eco_category'])
train.head()

,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price
0,2001-08-01,pasir ris,4 room,01 to 03,118.0,model a,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0
1,2014-10-01,punggol,5-room,10 to 12,110.0,improved,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0
2,2020-09-01,sengkang,5 room,01 to 03,112.0,premium apartment,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0
3,2000-10-01,clementi,3 room,07 to 09,67.0,new generation,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0
4,2013-01-01,bukit batok,3-room,07 to 09,73.0,model a,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0

## Convert "storey_range" into Numerical Data Type "storey_average"

In [22]:
# first number in "storey_range"
train['lower'] = train['storey_range'].str.extract('(\d+)')
train['upper'] = train['storey_range'].str.extract('(\d+$)')
# calculate average storey from the range
train['storey_average'] = train['upper'].astype(int) + train['lower'].astype(int)
train['storey_average'] = train['storey_average'] / 2.0
train = train.drop(columns=['storey_range'])
train.head()

,month,town,flat_type,floor_area_sqm,flat_model,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price,lower,upper,storey_average
0,2001-08-01,pasir ris,4 room,118.0,model a,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0,01,03,2.0
1,2014-10-01,punggol,5-room,110.0,improved,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0,10,12,11.0
2,2020-09-01,sengkang,5 room,112.0,premium apartment,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0,01,03,2.0
3,2000-10-01,clementi,3 room,67.0,new generation,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0,07,09,8.0
4,2013-01-01,bukit batok,3-room,73.0,model a,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0,07,09,8.0

## Convert "flat_type" to Ordinal Data Type "flattype_mapping"

In [23]:
train = train.replace(to_replace ="5 room", value ="5-room")
train = train.replace(to_replace ="4 room", value ="4-room")
train = train.replace(to_replace ="3 room", value ="3-room")
train = train.replace(to_replace ="2 room", value ="2-room")
train = train.replace(to_replace ="1 room", value ="1-room")
flattype_mapping={"1-room": 1,
                   "2-room": 2,
                   "3-room": 3,
                   "4-room": 4,
                   "5-room": 5,
                   "multi generation": 6,
                   "executive": 7,}
train["flattype_mapping"] = train['flat_type'].map(flattype_mapping)
train = train.drop(columns=['flat_type'])
train.head()

,month,town,floor_area_sqm,flat_model,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price,lower,upper,storey_average,flattype_mapping
0,2001-08-01,pasir ris,118.0,model a,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0,01,03,2.0,4
1,2014-10-01,punggol,110.0,improved,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0,10,12,11.0,5
2,2020-09-01,sengkang,112.0,premium apartment,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0,01,03,2.0,5
3,2000-10-01,clementi,67.0,new generation,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0,07,09,8.0,3
4,2013-01-01,bukit batok,73.0,model a,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0,07,09,8.0,3

## Convert "region" to Binary Data Type

In [24]:
one_hot_cols = pd.get_dummies(train, columns=['region'], prefix=['region'])
train = train.merge(one_hot_cols)
train = train.drop(columns=['region'])
train.head()

,month,town,floor_area_sqm,flat_model,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,resale_price,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region
0,2001-08-01,pasir ris,118.0,model a,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,209700.0,01,03,2.0,4,0,1,0,0,0
1,2014-10-01,punggol,110.0,improved,2003,1.399007,103.906991,0.0,punggol field,punggol,402300.0,10,12,11.0,5,0,0,0,1,0
2,2020-09-01,sengkang,112.0,premium apartment,2004,1.388348,103.873815,0.0,fernvale,sengkang,351000.0,01,03,2.0,5,0,0,0,1,0
3,2000-10-01,clementi,67.0,new generation,1980,1.318493,103.766702,0.0,clementi north,clementi,151200.0,07,09,8.0,3,0,0,0,0,1
4,2013-01-01,bukit batok,73.0,model a,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,318600.0,07,09,8.0,3,0,0,0,0,1

## Feature engineering to create "remaining_lease" feature from "lease_commencement_date"

In [25]:
lease_commence_date = train['lease_commence_date'].to_numpy()
#assuming 99-year lease, we calculate the remaining years on the lease
remaining_lease = lease_commence_date + 99 - pd.DatetimeIndex(train['month']).year.to_numpy()
train['remaining_lease'] = remaining_lease
train = train.drop(columns=['lease_commence_date'])
train.head()

,month,town,floor_area_sqm,flat_model,latitude,longitude,elevation,subzone,planning_area,resale_price,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region,remaining_lease
0,2001-08-01,pasir ris,118.0,model a,1.369008,103.958697,0.0,pasir ris drive,pasir ris,209700.0,01,03,2.0,4,0,1,0,0,0,87
1,2014-10-01,punggol,110.0,improved,1.399007,103.906991,0.0,punggol field,punggol,402300.0,10,12,11.0,5,0,0,0,1,0,88
2,2020-09-01,sengkang,112.0,premium apartment,1.388348,103.873815,0.0,fernvale,sengkang,351000.0,01,03,2.0,5,0,0,0,1,0,83
3,2000-10-01,clementi,67.0,new generation,1.318493,103.766702,0.0,clementi north,clementi,151200.0,07,09,8.0,3,0,0,0,0,1,79
4,2013-01-01,bukit batok,73.0,model a,1.348149,103.742658,0.0,bukit batok west,bukit batok,318600.0,07,09,8.0,3,0,0,0,0,1,71

## Convert "flat_model" to Ordinal Data Type

In [ ]:
flat_models = train.groupby('flat_model')
keys = flat_models.groups.keys()

flat_type_dict = {}

# store the average "resale_price" of each "flat_model" in a dictionary with
#    key : "flat_model"
#    value : average "resale_price"
for key in keys:
    df_i = flat_models.get_group(key)
    flat_type_dict.update({key : df_i["resale_price"].mean()})

# ordering the different "flat_model" by average "resale_price" (ascending order)
{k: v for k, v in sorted(flat_type_dict.items(), key=lambda item: item[1])}
# print(flat_type_dict)
# print(flat_type_dict.keys())

# save the ordered list of keys from dictionary as a list for easier index finding
flat_model_list = list(flat_type_dict.keys())

for flat_model in flat_model_list:
    ordinal_value = flat_model_list.index(flat_model) + 1
    train['flat_model'] = train['flat_model'].str.replace(rf'^{flat_model}$', str(ordinal_value), regex=True)
    
train.head()

In [10]:
train = train.drop(columns=['elevation','town','subzone','planning_area'])

In [11]:
train.head()

,month,floor_area_sqm,flat_model,latitude,longitude,resale_price,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region,remaining_lease
0,2001-08-01,118.0,8,1.369008,103.958697,209700.0,01,03,2.0,4,0,1,0,0,0,87
1,2014-10-01,110.0,5,1.399007,103.906991,402300.0,10,12,11.0,5,0,0,0,1,0,88
2,2020-09-01,112.0,13,1.388348,103.873815,351000.0,01,03,2.0,5,0,0,0,1,0,83
3,2000-10-01,67.0,12,1.318493,103.766702,151200.0,07,09,8.0,3,0,0,0,0,1,79
4,2013-01-01,73.0,8,1.348149,103.742658,318600.0,07,09,8.0,3,0,0,0,0,1,71

In [12]:
train.dropna()

,month,floor_area_sqm,flat_model,latitude,longitude,resale_price,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region,remaining_lease
0,2001-08-01,118.0,8,1.369008,103.958697,209700.0,01,03,2.0,4,0,1,0,0,0,87
1,2014-10-01,110.0,5,1.399007,103.906991,402300.0,10,12,11.0,5,0,0,0,1,0,88
2,2020-09-01,112.0,13,1.388348,103.873815,351000.0,01,03,2.0,5,0,0,0,1,0,83
3,2000-10-01,67.0,12,1.318493,103.766702,151200.0,07,09,8.0,3,0,0,0,0,1,79
4,2013-01-01,73.0,8,1.348149,103.742658,318600.0,07,09,8.0,3,0,0,0,0,1,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433013,2005-03-01,101.0,8,1.429658,103.792583,238500.0,01,03,2.0,4,0,0,1,0,0,94
433014,2016-04-01,95.0,13,1.390053,103.875941,376200.0,13,15,14.0,4,0,0,0,1,0,95
433015,2011-01-01,67.0,12,1.349224,103.934913,255600.0,01,03,2.0,3,0,1,0,0,0,74
433016,2013-05-01,123.0,5,1.389941,103.900721,508500.0,16,18,17.0,5,0,0,0,1,0,85
433017,2007-08-01,104.0,8,1.378304,103.750108,162000.0,01,03,2.0,4,0,0,0,0,1,81

In [25]:
test['month'] = pd.to_datetime(test['month'])
test = test.drop(columns=['block', 'street_name'])

In [26]:
test['lower'] = test['storey_range'].str.extract('(\d+)')
test['upper'] = test['storey_range'].str.extract('(\d+$)')
# calculate average storey from the range
test['storey_average'] = test['upper'].astype(int) + test['lower'].astype(int)
test['storey_average'] = test['storey_average'] / 2.0
test = test.drop(columns=['storey_range'])

In [27]:
test = test.replace(to_replace ="5 room", value ="5-room")
test = test.replace(to_replace ="4 room", value ="4-room")
test = test.replace(to_replace ="3 room", value ="3-room")
test = test.replace(to_replace ="2 room", value ="2-room")
test = test.replace(to_replace ="1 room", value ="1-room")
flattype_mapping={"1-room": 1,
                   "2-room": 2,
                   "3-room": 3,
                   "4-room": 4,
                   "5-room": 5,
                   "multi generation": 6,
                   "executive": 7,}
test["flattype_mapping"] = test['flat_type'].map(flattype_mapping)
test = test.drop(columns=['flat_type'])

In [28]:
test = test.drop(columns=['eco_category'])

In [29]:
one_hot_cols = pd.get_dummies(test, columns=['region'], prefix=['region'])
test = test.merge(one_hot_cols)
test = test.drop(columns=['region'])

In [30]:
lease_commence_date = test['lease_commence_date'].to_numpy()
#assuming 99-year lease, we calculate the remaining years on the lease
remaining_lease = lease_commence_date + 99 - pd.DatetimeIndex(test['month']).year.to_numpy()
test['remaining_lease'] = remaining_lease
test = test.drop(columns=['lease_commence_date'])

In [32]:
test.head()

,month,town,floor_area_sqm,flat_model,latitude,longitude,elevation,subzone,planning_area,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region,remaining_lease
0,2004-01-01,bukit batok,94.0,new generation,1.346581,103.744085,0.0,bukit batok west,bukit batok,04,06,5.0,4,0,0,0,0,1,84
1,2001-11-01,tampines,122.0,improved,1.357618,103.961379,0.0,tampines east,tampines,04,06,5.0,5,0,1,0,0,0,95
2,2002-07-01,jurong east,67.0,new generation,1.337804,103.741998,0.0,toh guan,jurong east,01,03,2.0,3,0,0,0,0,1,79
3,2015-04-01,ang mo kio,82.0,new generation,1.380084,103.849574,0.0,yio chu kang east,ang mo kio,04,06,5.0,3,0,0,0,1,0,65
4,2004-04-01,clementi,117.0,standard,1.313960,103.769831,0.0,clementi north,clementi,01,03,2.0,5,0,0,0,0,1,73

In [36]:
test = test.drop(columns=['elevation','town','subzone','planning_area'])
test.dropna()

,month,floor_area_sqm,flat_model,latitude,longitude,lower,upper,storey_average,flattype_mapping,region_central region,region_east region,region_north region,region_north-east region,region_west region,remaining_lease
0,2004-01-01,94.0,new generation,1.346581,103.744085,04,06,5.0,4,0,0,0,0,1,84
1,2001-11-01,122.0,improved,1.357618,103.961379,04,06,5.0,5,0,1,0,0,0,95
2,2002-07-01,67.0,new generation,1.337804,103.741998,01,03,2.0,3,0,0,0,0,1,79
3,2015-04-01,82.0,new generation,1.380084,103.849574,04,06,5.0,3,0,0,0,1,0,65
4,2004-04-01,117.0,standard,1.313960,103.769831,01,03,2.0,5,0,0,0,0,1,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109105,2008-04-01,110.0,improved,1.380452,103.879333,10,12,11.0,5,0,0,0,1,0,94
109106,2006-01-01,102.0,model a,1.314481,103.870458,13,15,14.0,4,1,0,0,0,0,92
109107,2000-01-01,68.0,improved,1.294924,103.854315,07,09,8.0,3,1,0,0,0,0,78
109108,2009-07-01,104.0,model a,1.339927,103.687354,10,12,11.0,4,0,0,0,0,1,78
109109,2010-05-01,90.0,model a,1.389001,103.892763,04,06,5.0,4,0,0,0,1,0,90

In [14]:
# uses the same "flat_model_list" extracted from the "flat_model" dictionary calculated from train dataset
for flat_model in flat_model_list:
    ordinal_value = flat_model_list.index(flat_model) + 1
    test['flat_model'] = test['flat_model'].str.replace(rf'^{flat_model}$', str(ordinal_value), regex=True)

test.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region
0,2004-01,bukit batok,4 room,186,bukit batok west avenue 6,04 to 06,94.0,12,uncategorized,1989,1.346581,103.744085,0.0,bukit batok west,bukit batok,west region
1,2001-11,tampines,5 room,366,tampines street 34,04 to 06,122.0,5,uncategorized,1997,1.357618,103.961379,0.0,tampines east,tampines,east region
2,2002-07,jurong east,3 room,206,jurong east street 21,01 to 03,67.0,12,uncategorized,1982,1.337804,103.741998,0.0,toh guan,jurong east,west region
3,2015-04,ang mo kio,3 room,180,Ang Mo Kio Avenue 5,04 to 06,82.0,12,uncategorized,1981,1.380084,103.849574,0.0,yio chu kang east,ang mo kio,north-east region
4,2004-04,clementi,5 room,356,clementi avenue 2,01 to 03,117.0,17,uncategorized,1978,1.313960,103.769831,0.0,clementi north,clementi,west region