# CS5228 Kaggle Competition

## Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import Data

In [3]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [4]:
train.shape , test.shape

((431732, 17), (107934, 16))

In [5]:
train.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price
0,2001-08,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0
1,2014-10,punggol,5-room,196B,punggol field,10 to 12,110.0,improved,uncategorized,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0
2,2020-09,sengkang,5 room,404A,fernvale lane,01 to 03,112.0,premium apartment,uncategorized,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0
3,2000-10,clementi,3 room,375,clementi avenue 4,07 to 09,67.0,new generation,uncategorized,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0
4,2013-01,bukit batok,3-room,163,bukit batok street 11,07 to 09,73.0,model a,uncategorized,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431732 entries, 0 to 431731
Data columns (total 17 columns):
month                  431732 non-null object
town                   431732 non-null object
flat_type              431732 non-null object
block                  431732 non-null object
street_name            431732 non-null object
storey_range           431732 non-null object
floor_area_sqm         431732 non-null float64
flat_model             431732 non-null object
eco_category           431732 non-null object
lease_commence_date    431732 non-null int64
latitude               431732 non-null float64
longitude              431732 non-null float64
elevation              431732 non-null float64
subzone                431732 non-null object
planning_area          431732 non-null object
region                 431732 non-null object
resale_price           431732 non-null float64
dtypes: float64(5), int64(1), object(11)
memory usage: 56.0+ MB